/* CSS Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
  height: auto;
}

[class*="grid"],
[class*="col"],
[class~="grid"],
[class~="col"] {
  margin: 0;
  padding: 0;
}

/* Default styles */

html {
  overflow: hidden;
  height: 100vh;
}

body {
  font-family: 'Noto Serif', serif;
  background-color: #2F2F2F;
  color: #E5E5E5;
  text-decoration: none;
  height: 100%;
  perspective: 1px;
  transform-style: preserve-3d;
  overflow-x: hidden;
  overflow-y: scroll;
}

h1,
h2,
h3,
h4 { font-weight: normal; }

h1,
h2,
h4 { font-family: 'DM Serif Display', serif; }

h1,
h2 { font-size: 2.5rem; }

h3 { font-size: .7rem; }

h4 {
  font-size: 1.7rem;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}

.story-headlines h3 {
  display: inline;
  font-family: "Frontage-Regular";
  font-size: .5rem;
  padding: .5rem;
  border: 1px solid;
  color: #F7BE00;
}

h3,
span,
label { color: #F7BE00; }

.about h3 { font-size: 1.2rem; }

.bg-highlight span { color: #2f2f2f; }

p {
  font-size: .9rem;
  line-height: 1.5;
  /* margin-bottom: 1.5rem; */
}

header p,
footer p { margin-bottom: 1.5rem; }

.smallprint {
  font-size: .7rem;
  font-style: italic;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.main { border-bottom: 5px solid #F7BE00;
}
.main div { margin-top: 40vh;}

h3,
nav a,
li,
.button { font-family: "Frontage-Regular"; }

[class=grid].nav-bar {
  max-height: 15vh;
  margin-bottom: 2rem;
}

nav a {
  padding: .2rem .5rem;
  margin-left: 2rem;
  font-size: 1.3rem;
  color: #F7BE00;
  transition: .3s ease;
}

nav a:hover,
nav a:focus {
  color: inherit;
  transition: .3s ease;
}
/* You can also just fix the markup by removing the space between the elements */
/* form {font-size: 0;} */

input,
textarea,
.form-button {
  padding: 1rem;
  border: none;
  font-size: .7rem;
  margin-bottom: 1rem;
  width: 80%;
}

footer input {  width: 300px; }

.contact-form label {
  display: block;
  font-family: "Frontage-Regular", serif;
  margin-bottom: .5rem;
}

.mobile-nav ul li,
ul li { list-style: none; }

.mobile-nav ul li {
  color: #F7BE00;
  display: block;
  margin-bottom: 2.5rem;
}

dl dd { margin-bottom: .5rem; }

::placeholder {
  margin: 1.5rem;
  color: #F7BE00;
  opacity: .8;
  font-family: "Frontage-Regular", serif;
}

.form-button {
  width: 250px;
  display: inline-block;
  background-color: #F7BE00;
  font-family: "Frontage-Regular", serif;
}

.fa-bars { font-size: 2rem; }

.fab,
.share-icons,
.share-icons .fas {
  font-size: 2.2rem;
  opacity: .7;
  padding: .5rem;
}

.fa-question-circle {
  position: relative;
  display: inline-block;
  width: 150px;
  padding-right: 1rem;
}

.fa-question-circle .tooltip-text {
  width: 250px;
  position: absolute;
  left: 2.5rem;
  transform: translateY(-50%);
  padding: 1rem;
  z-index: 1;
  visibility: hidden;
  font-size: .7rem;
  color: #2f2f2f;
  background-color: #F7BE00;
  border-radius: 4px;
  opacity: 0;
  transition: 1s opacity;
}

.fa-question-circle:hover .tooltip-text,
.fa-question-circle:focus .tooltip-text {
  visibility: visible;
  opacity: 1;
}

@font-face {
  font-family: "Frontage-Regular";
  font-style: normal;
  src: url("/styles/fonts/Frontage-Regular.otf") format("otf"),
       url("/styles/fonts/frontage-regular-webfont.woff2") format("woff2"), /* Super Modern Browsers */
       url("/styles/fonts/frontage-regular-webfont.woff") format('woff'), /* Pretty Modern Browsers */
       url("/styles/fonts/Frontage-Regular.ttf")  format('truetype'); /* Safari, Android, iOS */
}

footer {
  border-top: 5px solid #F7BE00;
  border-bottom: 5px solid #F7BE00;
}

/* Utility classes */

.hide,
.desktop-nav { display: none; }

.center       { text-align: center;  }
.right        { text-align: right;   }
.left         { text-align: left;    }

.full-height,
.photo-height   {  min-height: 100vh;  }
.half-height    {  min-height: 50vh;   }
.third-height   {  min-height: 33vh;   }
.quarter-height {  min-height: 25vh;   }

.photo-height  { overflow: hidden;  }

.padded-sm    {  padding: 3% 5%;     }
.padded-lg    {  padding: 3% 8%;     }
.padded-10-8  {  padding: 10% 8%     }
.padded-10-10 {  padding: 10% 10%    }
.padded-heavy {  padding: 7% 15%;    }
.padded-top-bottom-4 { padding: 4rem 0; }

.flex-center,
.flex-center.hexagon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.bg-dark {
  background-color: #707070;
  color: #e5e5e5;
}

.bg-light {
  background-color: #e5e5e5;
  color: #707070;
}

.bg-highlight { background-color: #F7BE00; }

.banner { min-height: 80vh; }

.button {
  display: inline-block;
  background-color: inherit;
  border: 1px solid #F7BE00;
  padding: .8rem 2rem;
  font-size: 1rem;
  color: #F7BE00;
  transition: .3s ease;
}

.burger:hover,
.burger:focus {
  color: #F7BE00;
  transition: .3s all;
}

.button:hover,
.button:focus {
  background-color: #e5e5e5;
  transition: .3s ease;
}

.clickable-logo:hover,
.clickable-logo:focus,
.mobile-nav ul li:hover,
.mobile-nav ul li:focus {
  color: #909090;
  transition: .3s all;
}

.svg-divider-top {
  width: 100%;
  height: 150px;
}

.triangle-divider {
  fill: #dcdcdc;
}

/* This is to make the headlines zoom on hover */

.zoom-container {
  overflow: hidden;
  position: relative;
}

.zoom {
  transition: .3s all;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  object-fit: cover;
  object-position: center;
}

.zoom-container:hover .zoom,
.zoom-container:focus .zoom
 { transform: scale(1.1); }

.half-section-horizontal img {
  object-fit: cover;
  object-position: center;
}

.half-section-horizontal { position: relative; }

/* This adds the parallax effect to images; also have a look at the body selector for more properties that render the effect */
.parallax {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  transform-style: preserve-3d;
  position: relative;
}

.parallax::before,
.parallax img {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
  transform: translateZ(-1px) scale(2);
  display: block;
  background-size: cover;
}

.bg-image,
.image-thumb {
  background-size: cover;
  background-position: center;
}

/* Pseudo-opacity but works fine! */
.opacity { box-shadow: inset 0 0 0 1000px rgba(0,0,0,.4); }

.caption-large,
.caption-wide,
.caption-half-screen {
  position: absolute;
  bottom: 0;
}

.caption-large,
.caption-wide { width: 100% }

.caption-half-screen { width: 50%; }

/* .caption-large { width: 100%; }

.caption-wide  { max-width: 100%; } */

.caption-small {
  font-style: italic;
  font-size: .8rem;
  padding: 1rem 2rem;
  text-align: justify;
}

.nav-bar,
.hexagon-bg-parent {
  position: relative;
  z-index: 1;
}

.image-container img { width: 100%; }

.small-image-container img {
  width: 500px;
  height: auto;
  float: left;
  padding-right: 3rem;
  padding-bottom: 2rem;
}


/* This is NAV bar stuff */

.nav-bar .logo {
  position: absolute;
  left: 5%;
  padding: 1rem;
}

.nav-bar .burger {
  position: absolute;
  right: 5%;
  padding: 1rem;
  transform: translateY(20%);
  z-index: 1000;
}

.desktop-nav {
  position: absolute;
  right: 5%;
  transform: translateY(70px);
}

.active { color: #F7BE00; }

.mobile-nav {
  height: 100vh;
  display: flex;
  font-family: "Frontage-Regular", serif;
  font-size: 1.6rem;
  background-color: rgba(70,70,70,.8);
  position: absolute;
  top: 0;
  right: -100%;
  bottom: 0;
  padding: 5% 3%;
  align-items: center;
  justify-content: center;
  z-index: 999;
  transition: .3s all;
}

.margin-top-negative-4 { margin-top: -4rem; }

.reveal {
  right: 0;
  left: 50vw;
}

.opacity-column {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/* Hexagon section with quote */

.hexagon-quote {
  color: #F7BE00;
  background-color: #2f2f2f;
  max-width: 60%;
  font-style: italic;
}

/* photo "frame" with elements */

.frame svg {
  position: absolute;
  z-index: 999;
}

/* hexagon SVG positioning */

.hexagon-bg svg {
  position: absolute;
  top: 5%;
  left: 5%;
  z-index: -1;
}

/* hexagon gallery */
.beehive-gallery a { padding: 1rem; }

.hexagon {
  height: 200px;
  width: 180px;
  background-color: #2f2f2f;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.hexagon img {
    height: 100%;
    overflow: hidden;
    object-fit: cover;
    object-position: center;
    transition: .2s all;
}

.hexagon:hover img,
.hexagon:focus img {
    transform: scale(1.1);
    transition: .2s all;
}

.hexagon-row-2,
.hexagon-row-3 { margin-top: -4rem; }

.fill-gray { background-color: #EEEEEE; }
.fill-yellow { background-color: #F7BE00; }


/* Media Queries for screen sizes */

@media (min-width: 320px) {

  /* .margin-top-negative-4 { margin-top: 0; } */

  .fa-bars { font-size: 2.5rem; }

  .hexagon  {
    height: 250px;
    width: 220px;
    background-color: #2f2f2f;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  }

  .mobile-large {
    height: 400px;
    width: 360px;
    margin-top: -4rem;
  }

  .mobile-hide { display: none;}

  .hexagon-row-2,
  .hexagon-row-3 { margin-top: -4rem; }
}

@media (min-width: 768px) {

  p {
    font-size: 1.2rem;
    line-height: 1.7;
  }

  .gallery-info {
    font-size: .8rem;
    padding: 0 1.5rem;
    margin-bottom: 0;
    line-height: 1.5;
  }

  .button { padding: 1rem 3rem; }

}

@media (min-width: 812px) {

  h1 { font-size: 4rem;    }

  h2 { font-size: 5.5rem;    }

  h3 { font-size: 1.16rem; }

  h4 { font-size: 2.5rem;  }

  nav a {
    margin-left: 1.5rem;
    font-size: 1.1rem;
  }

}

@media (min-width: 1024px) {

  .burger,
  .mobile-nav  { display: none;         }

  .desktop-nav { display: inline-block; }

  .exerpt-right { padding-left: 40%; }

  .exerpt-left { padding-right: 40%; }

}

@media (min-width: 1280px) {

  h1 { font-size: 5rem; }

  nav a,
  .logo h3 { font-size: 1.4rem; }

  .about h3 {font-size: 2rem;}

  .about .quarter-height { min-height: 100vh; }
}
