/* CSS Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

[class*="grid"],
[class*="col"],
[class~="grid"],
[class~="col"] {
  margin: 0;
  padding: 0;
}

/* Default styles */

html {
  overflow: hidden;
  height: 100vh;
}

body {
  font-family: 'Noto Serif', serif;
  background-color: #2F2F2F;
  color: #E5E5E5;
  text-decoration: none;
  height: 100%;
  perspective: 1px;
  transform-style: preserve-3d;
  overflow-x: hidden;
  overflow-y: scroll;
}

h1, h2, h3, h4 { font-weight: normal; }

h1, h2, h4 { font-family: 'DM Serif Display', serif; }

h1 { font-size: 2.5rem; }

h2 { font-size: 4rem; }

h3 { font-size: .73rem; }

h4 {
  font-size: 1.7rem;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}

.story-headlines h3 {
  display: inline;
  font-family: "Frontage-Regular";
  font-size: .5rem;
  padding: .5rem;
  margin-right: 1rem;
  border: 1px solid;
  color: #F7BE00;
}

h3, span, label { color: #F7BE00; }

.about h3 { font-size: 1.2rem; }

.bg-highlight span { color: #2f2f2f; }

p {
  font-size: .9rem;
  line-height: 1.5;
  margin-bottom: 1.5rem;
}

.smallprint {
  font-size: .7rem;
  font-style: italic;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.main { border-bottom: 5px solid #F7BE00;
}
.main div { margin-top: 40vh;}

h3,
nav a,
li,
.button { font-family: "Frontage-Regular"; }

[class=grid].nav-bar {
  max-height: 15vh;
  margin-bottom: 2rem;
}

nav a {
  padding: .2rem .5rem;
  margin-left: 2rem;
  font-size: 1.3rem;
  color: #F7BE00;
  transition: .3s ease;
}

nav a:hover {
  color: inherit;
  transition: .3s ease;
}

input,
textarea,
.form-button {
  padding: 1rem;
  border: none;
  font-size: .7rem;
  margin-bottom: 1rem;
  width: 80%;
}

footer input {  max-width: 35%; }

.contact-form label {
  display: block;
  font-family: "Frontage-Regular", serif;
  margin-bottom: .5rem;
}

.mobile-nav ul li, ul li { list-style: none; }

.mobile-nav ul li {
  color: #F7BE00;
  display: block;
  margin-bottom: 2.5rem;
}

dl dd { margin-bottom: .5rem; }

::placeholder {
  margin: 1.5rem;
  color: #F7BE00;
  opacity: .8;
  font-family: "Frontage-Regular", serif;
}

.form-button {
  width: 250px;
  display: inline-block;
  background-color: #F7BE00;
}

.fa-bars { font-size: 2rem; }

.fab {
  font-size: 3rem;
  opacity: .7;
  padding: .5rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.fa-question-circle {
  position: relative;
  display: inline-block;
  width: 150px;
}

.fa-question-circle .tooltip-text {
  position: absolute;
  z-index: 1;
  display: none;
  font-size: .5rem;
  background-color: #2f2f2f;
}

.fa-question-circle:hover .tooltip-text {
  display: inline-block;
}

@font-face {
  font-family: "Frontage-Regular";
  font-style: normal;
  src: url("/styles/fonts/Frontage-Regular.otf") format("otf");
}

footer {
  border-top: 5px solid #F7BE00;
  border-bottom: 5px solid #F7BE00;
}

/* Utility classes */

.hide,
.desktop-nav { display: none; }

.center       { text-align: center;  }
.right        { text-align: right;   }
.left         { text-align: left;    }

.full-height,
.photo-height   {  min-height: 100vh;  }
.half-height    {  min-height: 50vh;   }
.third-height   {  min-height: 33vh;   }
.quarter-height {  min-height: 25vh;   }

.photo-height  { overflow: hidden;  }

.padded-sm    {  padding: 3% 5%;     }
.padded-lg    {  padding: 3% 8%;     }

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.bg-dark {
  background-color: #707070;
  color: #e5e5e5;
}

.bg-light {
  background-color: #e5e5e5;
  color: #707070;
}

.bg-highlight { background-color: #F7BE00; }

.banner { min-height: 80vh; }

/* .banner img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
} */

.button {
  display: inline-block;
  background-color: inherit;
  border: 1px solid #F7BE00;
  padding: .8rem 2rem;
  font-size: 1rem;
  color: #F7BE00;
  transition: .3s ease;
}

.burger:hover,
.burger:focus {
  color: #F7BE00;
  transition: .3s all;
}

.button:hover,
.button:focus {
  background-color: #e5e5e5;
  transition: .3s ease;
}

.clickable-logo:hover,
.clickable-logo:focus,
.mobile-nav ul li:hover,
.mobile-nav ul li:focus {
  color: #909090;
  transition: .3s all;
}

.parallax {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  transform-style: preserve-3d;
  position: relative;
}

.parallax::before,
.parallax img {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
  transform: translateZ(-1px) scale(2);
  display: block;
  background-size: cover;
  min-height: 100vh;

}

.bg-image,
.image-thumb {
  background-size: cover;
  background-position: center;
}

.opacity { box-shadow: inset 0 0 0 1000px rgba(0,0,0,.4); }


.caption-large,
.caption-wide {
  position: absolute;
  /* left: 10%; */
  bottom: 10%;
}

.caption-large { max-width: 80%; }

.caption-wide  { max-width: 100%; }

.caption-small {
  font-style: italic;
  font-size: .5rem;
  padding: 1rem .5rem;
}

.nav-bar,
.beehive-gallery,
.image-container { position: relative; }

.image-container img { width: 100%; }

.nav-bar .logo {
  position: absolute;
  left: 5%;
  padding: 1rem;
}
.nav-bar .burger {
  position: absolute;
  right: 5%;
  padding: 1rem;
  transform: translateY(20%);
  z-index: 1000;
}

.desktop-nav {
  position: absolute;
  right: 5%;
  transform: translateY(70px);
}

.active { color: #F7BE00; }

.mobile-nav {
  height: 100vh;
  display: none;
  font-family: "Frontage-Regular", serif;
  font-size: 1.6rem;
  background-color: rgba(70,70,70,.8);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 5% 3%;
  align-items: center;
  justify-content: center;
  z-index: 999;
  /* transition: .3s all; */
}

.reveal { display: flex; }
/* hexagon gallery */

.hexagon {
  /* position: absolute; */
  height: 6rem;
  width: 7rem;
  clip-path: polygon(75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%, 25% 0);
}

.hexagon.gallery-one {
  position: absolute;
  left: 7%;
  top: 10%;
}

.hexagon.gallery-two {
  position: absolute;
  left: 60%;
  top: 10%;
}

.hexagon.gallery-three {
  position: absolute;
  left: 33.3%;
  top: 23%;
}

.hexagon.gallery-four {
  position: absolute;
  left: 7%;
  top: 37%;
}

/* Media Queries for screen sizes */

@media (min-width: 360px) {

  .fa-bars { font-size: 2.5rem; }

}

@media (min-width: 768px) {

  p {
    font-size: 1.2rem;
    line-height: 1.7;
  }

  .button { padding: 1rem 3rem; }

}

@media (min-width: 812px) {

  h1 { font-size: 4rem;    }

  h2 { font-size: 7rem;    }

  h3 { font-size: 1.16rem; }

  h4 { font-size: 2.5rem;  }

  nav a {
    margin-left: 1.5rem;
    font-size: 1.1rem;
  }

}

@media (min-width: 1024px) {

  .burger { display: none;         }

  .desktop-nav { display: inline-block; }

  .exerpt-right { padding-left: 40%; }

  .exerpt-left { padding-right: 40%; }

}

@media (min-width: 1280px) {

  h1 { font-size: 5rem; }

  nav a,
  .logo h3 { font-size: 1.4rem; }

  .about h3 {font-size: 2rem;}

  .about .quarter-height { min-height: 100vh; }
}
