
{% for item in page.page_blocks %}
{% if item._id == "2-column-paragraph-and-image" %}
<section class="bg-highlight hexagon-bg-parent">
  <div class="padded-10-8">
    <p class="small-image-container right">
      <img data-src="{{item.inset_image}}" alt="{{ item.inset_image_alt_text }}" class="lazyload">
      {{ item.paragraph_content_text_area }}
    </p>
  </div>
  <div class="hexagon-bg-block">
    <svg xmlns="http://www.w3.org/2000/svg" width="100vw" height="100vh" viewBox="0 0 1500 500">
        <path d="M109.5,0,146,63l-36.5,63h-73L0,63,36.5,0Z" transform="translate(0 48)" fill="#d1d1d1" opacity="0.3"/><path d="M109.5,0,146,63l-36.5,63h-73L0,63,36.5,0Z" transform="translate(114 114)" fill="#ffd95c" opacity="0.3"/><path d="M109.5,0,146,63l-36.5,63h-73L0,63,36.5,0Z" transform="translate(0 180)" fill="#d1d1d1" opacity="0.3"/>
    </svg>
  </div>
</section>
{% endif %}
{% endfor %}
