
{% for item in page.page_blocks %}
{% if item._id == "2-column-paragraph-and-image" %}
<section class="bg-highlight">
  <div class="padded-heavy grid">
    <div class="col-6 padded-lg image-container">
      <img src="{{ item.inset_image }}" alt="">
      <svg xmlns="http://www.w3.org/2000/svg" width="242" height="242" viewBox="0 0 258 255"><g transform="translate(-201 -5379)"><path d="M109.5,0,146,63l-36.5,63h-73L0,63,36.5,0Z" transform="translate(313 5443)" fill="#d1d1d1" opacity="0.768"/><path d="M109.5,0,146,63l-36.5,63h-73L0,63,36.5,0Z" transform="translate(201 5508)" fill="#ffd95c" opacity="0.768"/><path d="M109.5,0,146,63l-36.5,63h-73L0,63,36.5,0Z" transform="translate(201 5379)" fill="#d1d1d1" opacity="0.768"/></g></svg>
    </div>
    <div class="col-6 padded-lg">
      <p class="editable">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
    </div>
  </div>
</section>
{% endif %}
{% endfor %}
