
<!-- Hexagon gallery -->
<section class="padded-lg center beehive-gallery">
  <div class="grid-center">
  <a href="#"><div class="hexagon"><img src="/assets/images/placeholder_006.jpg" alt=""></div></a>
  <a href="#"><div class="hexagon"><img src="/assets/images/placeholder_007.jpg" alt=""></div></a>
  </div>
  <div class="grid-center hexagon-row-2">
  <a href="#"><div class="hexagon"><img src="/assets/images/placeholder_008.jpg" alt=""></div></a>
  <a href="#"><div class="hexagon"><img src="/assets/images/placeholder_008.jpg" alt=""></div></a>
  <a href="#"><div class="hexagon"><img src="/assets/images/placeholder_009.jpg" alt=""></div></a>
  </div>
  <div class="grid-center hexagon-row-3">
  <a href="#"><div class="hexagon"><img src="/assets/images/placeholder_010.jpg" alt=""></div></a>
  <a href="#"><div class="hexagon"><img src="/assets/images/placeholder_011.jpg" alt=""></div></a>
  </div>
</section>
