
{% for item in page.page_blocks %}
  {% if item._id == "image-with-paragraph" %}

    <section class="bg-dark grid padded-top-bottom-4">
      <div class="col-6">
        <img src="{{ item.paragraph_image }}" alt="Some alt text here" />
      </div>
      <div class="col-6 padded-lg">
        <p class="editable">
          Still confused as to the difference? There&rsquo;s a very subtle distinction between these two types of options. Think of a clipping path as a &ldquo;hard mask&rdquo; where the clipping object removed is a shape without any transparent or opaque pixels showing through. A mask consists of a shape or image where each pixel has varying degrees of transparency and opaqueness that can peer through, or hide portions in a very subtle fashion.
        </p>
      </div>
    </section>

  {% endif %}
{% endfor %}
