<div class="nav-bar">
  <div class="logo">
    <a href="/">
      <h1>
        Re<span>:</span>belay
      </h1>
    </a>
    <h3>
      Pure canyoning
    </h3>
  </div>
  <div class="right burger">
    <i class="fas fa-bars"></i>
  </div>
  <div class="mobile-nav mobile-show">
    <ul>
      <li>
        <a href="/about">About</a>
      </li>
      <li>
        <a href="/stories-all"> Stories </a>
      </li>
      <!-- <li>
        <a href="#"> Shop </a>
      </li> -->
      <li>
        <a href="/contact"> Contact </a>
      </li>
    </ul>
  </div>
  <div class="desktop-nav right">
    <nav>
      <a href="/about"> About </a>
      <a href="/stories-all"> Stories </a>
      <!-- <a href="#"> Shop </a> -->
      <a href="/contact"> Contact </a>
    </nav>
  </div>
</div>
