<div>
  <h4>
    Fresh from the canyon<span>.</span>
  </h4>
  <p class="editable">
    Get notified via email when an article is published. No spam.
  </p>
</div>
<form method="get" action="/success" id="subscribe-form">
  <input type="email" name="email" placeholder="Enter your email" /><input type="submit" value="Subscribe" name="button" class="form-button" />
</form>
<br />
<div>
  <h4>
    Re<span>:</span>belay<span>.</span>com
  </h4>
  <div class="social-icons center">
    <a href="https://facebook.com/rebelaycanyon" target="_blank"><i class="fab fa-facebook-square"></i></a>
    <a href="https://instagram.com/rebelay.canyoning" target="_blank"> <i class="fab fa-instagram"></i> </a>
  </div>
</div>
