<!-- FontAwesome script-->
<script src="https://kit.fontawesome.com/b28a5faa19.js" crossorigin="anonymous"></script>

<!-- Gridlex framework -->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.7.1/gridlex.min.css" />

<!-- Load local copy of jQuery from the js folder -->
<script src="/js/jquery-3.4.1.min.js"></script>

<script>

  $( document ).ready(function() {

    console.log('hello from js');

    $(".burger").click(function(){

      $(".mobile-nav").toggleClass("reveal");

      $(this).toggleClass("active");

      console.log("burger clicked");

    });
  });

</script>

<!-- This is the Lightbox JS -->
  <script src="/plugins/lightbox2-2.11.1/dist/js/lightbox.js"></script>

  <!-- Specific script to correct Lightbox positioning upon click; the "document" part of the script makes the script run ONLY AFTER the page is loaded -->
  <script type="text/javascript">
  $( document ).ready(function() {
    $(".beehive-gallery a").click(function(){
      $("body").addClass("lightbox-active");
    });

    $(".lb-close, #lightboxOverlay").click(function(){
      $("body").removeClass("lightbox-active");
      console.log("i saw that");
    });
  });

</script>

    <!-- Start of HubSpot Embed Code -->
<script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/6948663.js"></script>
<!-- End of HubSport Embed Code -->
