<div class="center">
  <h4>
    Inspired? <span>Share now:</span>
  </h4>
  <div class="center share-icons">
    <a href="http://www.facebook.com/sharer.php?u=https://rebelay.com{{page.url}}" rel="nofollow" target="_blank"><i class="fab fa-facebook-square"></i></a>
    <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url=https://rebelay.com{{ page.url }}&via=@RebelayCanyon" target="_blank" rel="nofollow"><i class="fab fa-twitter-square"></i></a>
    <a href="whatsapp://send?text=https://rebelay.com{{page.url}}"><i class="fab fa-whatsapp-square"></i></a>
    <a href="mailto:?subject=Awesome canyoning article &body=Hey, have a look at this awesome canyoning story and photos from Rebelay.com: https://rebelay.com{{page.url}}" target="_blank"><i class="fas fab fa-envelope-square"></i></a>
  </div>
</div>
