
<!-- The two image-two caption grid -->

{% for item in page.page_blocks %}
  {% if item._id == "two-photo-grid" %}
  <section class="bg-mid-gray">
    <div class="padded-lg">
      <div class="grid-noGutter">
        <div class="col-7_xs-12">
          <img data-src="{{item.grid_top_image}}" alt="{{ item.grid_top_image_alt_text }}" class="lazyload">
        </div>
        <p class="col-5_xs-12-middle caption-small right">
          {{ item.grid_top_image_caption_text }}
        </p>
      </div>
      <div class="grid-noGutter">
        <p class="col-5_xs-12-middle caption-small">
          {{ item.grid_bottom_image_caption_text }}
        </p>
        <div class="col-7_xs-12 margin-top-negative-4">
          <img data-src="{{ item.grid_bottom_image }}" alt="{{ item.grid_bottom_image_alt_text }}" class="lazyload">
        </div>
      </div>
    </div>
  </section>
  {% endif %}
{% endfor %}
