
<!-- The two image-two caption grid -->

<section class="bg-light">
  <div class="padded-lg">
    <div class="grid">
      <div class="col-7">
        <img src="{{ page.grid_top_image }}" alt="{{ page.grid_top_image_alt-text }}" />
      </div>
      <p class="col-5 caption-small right">
        {{ page.grid_top_image_caption }}
      </p>
    </div>
    <div class="grid">
      <p class="col-5-bottom caption-small">
        {{ page.grid_bottom_image_caption }}
      </p>
      <div class="col-7 margin-top-negative-4">
        <img src="{{ page.grid_bottom_image }}" alt="{{ page.grid_bottom_image_alt-text }}">
      </div>
    </div>
  </div>
</section>
