
<!-- The large vertical parallax section -->
{% for item in page.page_blocks %}
  {% if item._id == "vertical-parallax" %}

    <section class="photo-height">
      <div class="image-container bg-image parallax parallax-1">
        <img src="{{ item.vertical_fullscreen_image }}" alt="{{ item.vertical_fullscreen_image_alt_text }}" />
        <div class="caption-large opacity padded-lg">
          <h3>
            {{ item.vertical_fullscreen_image_title }}
          </h3>
          <p>
            {{ item.vertical_fullscreen_image_caption_text }}
          </p>
        </div>
      </div>
    </section>

  {% endif %}
{% endfor %}
