
<!-- The wide parallax section -->
{% for item in page.page_blocks %}
  {% if item._id == "fullscreen_one" %}

    <section class="photo-height">
      <div class="image-container bg-image parallax">
        <img src="{{ item.first_fullscreen_image }}" alt="{{ item.first_fullscreen_image_alt_text }}" />
        <div class="caption-wide padded-lg">
          <h3>
            {{ item.first_fullscreen_image_title }}
          </h3>
          <p>
            {{ item.first_fullscreen_image_caption_text }}
          </p>
        </div>
      </div>
    </section>

  {% endif %}
{% endfor %}
