html {
  overflow: hidden;
  height: 100vh;
}

body {
  font-family: 'Noto Serif', serif;
  background-color: #707070;
  color: #E5E5E5;
  text-decoration: none;
  height: 100%;
  perspective: 1px;
  transform-style: preserve-3d;
  overflow-x: hidden;
  overflow-y: scroll;
}

h1,
h2,
h3,
h4 { font-weight: normal; }

h1,
h2,
h4 { font-family: 'DM Serif Display', serif; }

h1,
h2 { font-size: 2.5rem; }

h3 { font-size: .7rem; }

h4 {
  font-size: 1.7rem;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}
h3,
span,
label { color: #F7BE00; }
