<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> Rebelay - Pure Canyoning </title>

    <!-- Google Fonts API -->
    <link href="https://fonts.googleapis.com/css?family=DM+Serif+Display|Noto+Serif:400,400i,700&display=swap" rel="stylesheet">

    <!-- FontAwesome script-->
    <script src="https://kit.fontawesome.com/b28a5faa19.js" crossorigin="anonymous"></script>

    <!-- Gridlex framework -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.7.1/gridlex.min.css">

    <!-- for Media Queries to work -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- master CSS file; keep it at end of HEAD -->
    <link rel="stylesheet" href="/style.css">

  </head>
  <body>
    {{content}}
  </body>
</html>
