<!DOCTYPE html>
<html lang="en" dir="ltr">

  {% include head.html %}

  <body>
    <header>

    {% include navbar.html%}

    {% if page.latest == true %}
      {% include header-latest.html %}
    {% elsif page.latest == "home" %}
      {% include header-home.html %}
    {% else %}
      {% include header-article.html %}
    {% endif %}

    </header>

      {{content}}

    <footer>

      <section class="half-height center padded-sm bg-dark">

        {% if page._share_icons == true %}

        {% include share-icons.html %}

        {% endif %}

        {% include newsletter-cta.html%}

      </section>

    </footer>


{% include scripts.html %}


  </body>
</html>
