---
layout: default
latest: no
page_blocks:
---
<!-- <div class="grid padded-sm banner bg-image main" style="background-image: url({{ page.banner_image }})">
  <div class="col-12 grid-column-bottom">
    <div class="col-12 right">
      <h2>
        <span> 0{{ page.article_number }}. </span>
      </h2>
      <h2>
        {{ page.title }}
      </h2>
    </div>
  </div>
</div> -->
<section class="bg-light">
  <div class="padded-heavy">
    <div class="article-info">
      <h3>
        {{ page.date | date_to_long_string }}
      </h3>
      <h3>
        Story by {{ page.article_writer }}
      </h3>
      <h3>
        Photography by {{ page.article_photographer }}
      </h3>
    </div>
    <br>
    <br>
    <div>
      {{ content }}
    </div>
  </div>
</section>


<!-- This is the hexagon mask section with a quote -->
<section class="third-height bg-highlight flex-center">
  <div class="hexagon-section">
    <div class="hexagon-quote center padded-lg">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </p>
    </div>
  </div>
</section>


{% for block in page.page_blocks %}
  {% case block._id %}
    {% when 'two-photo-grid' %}
      {% include two-photo-grid.html block=block %}
    {% when 'vertical-parallax' %}
      {% include vertical-parallax.html block=block %}
    {% when 'fullscreen_one' %}
      {% include wide-parallax-one.html block=block %}
    {% when 'fullscreen_two' %}
      {% include wide-parallax-two.html block=block %}
    {% when 'fullscreen_three' %}
      {% include wide-parallax-three.html block=block %}
    {% when 'article-beta' %}
      {% include article-beta.html block=block %}
    {% when 'image-with-paragraph' %}
      {% include image-with-paragraph.html block=block %}
    {% when '2-column-paragraph-and-image' %}
      {% include 2-column-paragraph-and-image.html block=block %}
  {% endcase %}
{% endfor %}
