---
layout: default
page_blocks:
---
<div class="grid padded-sm banner bg-image main" style="background-image: url({{ page.banner_image }})">
  <div class="col-12 grid-column-bottom">
    <div class="col-12 right">
      <h2>
        <span> 0{{ page.article_number }}. </span>
      </h2>
      <h2>
        {{ page.title }}
      </h2>
    </div>
  </div>
</div>
<section class="bg-light">
  <div class="padded-heavy">
    <div class="article-info">
      <h3>
        {{ page.date | date_to_long_string }}
      </h3>
      <h3>
        Story by {{ page.article_writer }}
      </h3>
      <h3>
        Photography by {{ page.article_photographer }}
      </h3>
    </div>
    <br>
    <br>
    <div>
      {{ content }}
    </div>
  </div>
</section>
<section class="bg-dark grid padded-top-bottom-4">
  <div class="col-6">
    <img src="/assets/images/placeholder_004.jpg" alt="Some alt text here">
  </div>
  <div class="col-6 padded-lg">
    <p class="editable">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
  </div>
</section>


{% for block in page.page_blocks %}
  {% case block._id %}
    {% when 'two-photo grid' %}
      {% include two-photo-grid.html block=block %}
    {% when 'vertical-parallax' %}
      {% include vertical-parallax.html block=block %}
    {% when 'wide-parallax' %}
      {% include wide-parallax.html block=block %}
    {% when 'article-beta' %}
      {% include article-beta.html block=block %}
  {% endcase %}
{% endfor %}
