---
layout: default
---

<section class="bg-dark third-height">
  <div class="padded-lg">
    <h2>
      The beta<span>:</span>
    </h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
  </div>
</section>
<section class="photo-height">
  <div class="image-container">
    <img src="{{ page.large_image }}" alt="">
    <div class="caption-large">
      <h3>
        Image title
      </h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </p>
    </div>
  </div>
  <!-- </div> -->
</section>
<section class="bg-light">
  <div class="padded-lg">
    <div class="grid">
      <div class="col-6">
        <img src="/assets/images/placeholder_001.jpg" alt="">
      </div>
      <div class="col-1">

      </div>
      <p class="col-5 caption-small right">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </p>
    </div>
    <div class="grid">
      <p class="col-5 caption-small">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </p>
      <div class="col-1">

      </div>
      <div class="col-6">
        <img src="/assets/images/placeholder_002.jpg" alt="">
      </div>
    </div>
  </div>
</section>
<section class="photo-height">
  <div class="image-container">
    <img src="{{ page.wide_image }}" alt="">
    <div class="caption-wide">
      <h3>Image Title</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </p>      
    </div>
  </div>
</section>
