---
layout: default
latest: no
page_blocks:
---

<section class="bg-dark third-height">
  <div class="padded-lg">
    <h3>
      Photostory by {{ page.article_photographer }}
    </h3>
    <h2>
      The beta<span>:</span>
    </h2>
    <p>
      {{ content }}
    </p>
  </div>
</section>

{% for block in page.page_blocks %}
  {% case block._id %}
    {% when 'two-photo-grid' %}
      {% include two-photo-grid.html block=block %}
    {% when 'vertical-parallax' %}
      {% include vertical-parallax.html block=block %}
    {% when 'fullscreen_one' %}
      {% include wide-parallax-one.html block=block %}
    {% when 'fullscreen_two' %}
      {% include wide-parallax-two.html block=block %}
    {% when 'fullscreen_three' %}
      {% include wide-parallax-three.html block=block %}
    {% when 'article-beta' %}
      {% include article-beta.html block=block %}
    {% when 'image-with-paragraph' %}
      {% include image-with-paragraph.html block=block %}
    {% when '2-column-paragraph-and-image' %}
      {% include 2-column-paragraph-and-image.html block=block %}
  {% endcase %}
{% endfor %}
<section class="padded-lg center beehive-gallery">
  <div class="grid-center">
    <a href="#">
      <div class="hexagon">
        <img src="/assets/images/placeholder_008.jpg" alt="{{ hex_one_alt_text }}">
      </div>
    </a>
    <a href="#">
      <div class="hexagon">
        <img src="/assets/images/placeholder_008.jpg" alt="{{ hex_two_alt_text }}">
      </div>
    </a>
  </div>
  <div class="grid-center hexagon-row-2">
    <a href="#">
      <div class="hexagon">
        <img src="/assets/images/placeholder_008.jpg" alt="{{ hex_three_alt_text }}">
      </div>
    </a>
    <a href="#">
      <div class="hexagon">
        <img src="/assets/images/placeholder_008.jpg" alt="{{ hex_four_alt_text }}">
      </div>
    </a>
    <a href="#">
      <div class="hexagon">
        <img src="/assets/images/placeholder_008.jpg" alt="{{ hex_five_alt_text }}">
      </div>
    </a>
  </div>
  <div class="grid-center hexagon-row-3">
    <a href="#">
      <div class="hexagon">
        <img src="/assets/images/placeholder_008.jpg" alt="{{ hex_six_alt_text }}">
      </div>
    </a>
    <a href="#">
      <div class="hexagon">
        <img src="/assets/images/placeholder_008.jpg" alt="{{ hex_seven_alt_text }}">
      </div>
    </a>
  </div>
</section>


<!-- Canyon key facts section -->
<section class="canyon-info bg-light half-height">
  <div class="grid-reverse">
    <div class="col-12_sm-12_md-6_lg-6 map">
      {{ page.map_url }}
    </div>
    <div class="col-12_sm-12_md-6_lg-6 padded-lg">
      <h4>
        Canyon Facts
      </h4>
      <br>
      <dl>
        <dd> <strong>Location: </strong> {{ page.location }} </dd>
        <dd> <strong>Duration: </strong> {{ page.duration }} </dd>
        <dd> <strong>Tech Level: </strong> {{ page.rating }} <i class="fas fa-question-circle">
          <p class="tooltip-text">
            Rating follows the French Canyon Rating system and is composed of three properties: Verticality (represented by the letter V), Aquatic (represented by the letter A) and Committment (represented by a Roman numeral). For the V and A properties, the scale runs from 1 to 7, signifying an increase in difficulty; Committment is rated from I-VI, also increasing in difficulty.
        </p></i></dd>
        <dd> <strong>Adventure Level: </strong> {{ page.adventure_rating}}</dd>
        <dd> <strong>Fun Factor:</strong> {{ page.fun_rating}} </dd>
        <dd> <strong>Ambiance:</strong> {{ page.ambiance_rating}} </dd>
      </dl>
    </div>
  </div>
</section>
